<mat-card class="fb-create-account fb-create-account-form">
  <h3 class="fb-create-account-form-item">Create an Account</h3>
  <mat-form-field class="fb-create-account-form-item">
    <input matInput type="text" placeholder="First Name" [(ngModel)]="firstName"/>
    <button mat-button *ngIf="firstName" matSuffix mat-icon-button aria-label="Clear" (click)="firstName=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="fb-create-account-form-item">
    <input matInput type="text" placeholder="Last Name" [(ngModel)]="lastName"/>
    <button mat-button *ngIf="lastName" matSuffix mat-icon-button aria-label="Clear" (click)="lastName=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="fb-create-account-form-item">
    <input matInput type="text" placeholder="Username" [(ngModel)]="username"/>
    <button mat-button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="fb-create-account-form-item">
    <input matInput type="text" placeholder="Password" [(ngModel)]="password"/>
    <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="fb-create-account-form-item">
    <input matInput type="text" placeholder="Confirm Password" [(ngModel)]="confirmPassword"/>
    <button mat-button *ngIf="confirmPassword" matSuffix mat-icon-button aria-label="Clear" (click)="confirmPassword=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button class="fb-create-account-form-item" color="primary" routerLink="/profile" mat-raised-button aria-label="Create Account" (click)="doFormSubmit()">Create Account</button>
</mat-card>
