<mat-toolbar color="primary" class="fb-nav">
  <span class="fb-nav-title">Mock FB</span>
  <span class="fb-nav-search fb-nav-item">
    <input type="text" class="form-control" placeholder="Search">
    <button class="fb-nav-search-btn"(click)="doSearch()">Search</button>
  </span>
  <span class="fb-nav-item">
    <a routerLink="#">Pending Friend Requests</a>
  </span>
  <span class="fb-nav-item">
    <a routerLink="#">Pokes</a>
  </span>
  <span class="fb-nav-item">
    <a routerLink="#">My Profile</a>
  </span>
  <span class="fb-nav-item">
    <a href="#">Logout</a>
  </span>
</mat-toolbar>
