<div class="fb-profile">
  <div class="fb-profile-left-col">
    <div class="fb-profile-img"></div>
    <button mat-raised-button class="fb-profile-edit-btn" routerLink="/edit-profile" color="accent">Edit Profile</button>
  </div>
  <div class="fb-profile-info">
    <h2>Full Name</h2>
    <h3>Lives in: City, State</h3>
    <p>Interests: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Favorite Music: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
    <p>Favorite Movies: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
  </div>
</div>

